/*banner*/
.slides{
    width: 100%;
    height: 650px;
    position: relative;
}
.slides ul{
     height: 100%;
 }
.slides ul li{
    display: block;
    height: 100%;
}
.slideInner a{
    display:block;
    height:700px;
    width: 100%;
    background-size:cover;
    background-position:center center;
    position:relative;
}
#slide1{
    background: url("../images/banner1.png");
    background-size: cover;
}
#slide0{
    background: url("../images/banner2.png");
    background-size: cover;
}
#slide2{
    background: url("../images/banner3.jpg");
    background-size: cover;
}

#slide1 > .slideWord{
    float: right;
    margin: 500px 100% 0 50%;
    padding-left: 100px;
    top: 500px;
    width: 500px;
    text-align: right;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: "Microsoft YaHei UI";
    line-height: 3;
    letter-spacing: 0.2em;
    border-bottom: solid #fff 3px;
    transition: all 1s ease-in 0s;
}

#slide0 > .slideWord{
    float: right;
    margin: 200px 100% 0 0;
    transition: all 1s ease-in 0s;
}

#slide2 > .slideWord{
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    transition: all 1s ease-in 0s;

}

@media(max-width:1023px) {
  .slides {height: 350px;}
  #slide1 .slideWord {width: 360px; padding-left: 20px; padding-right: 40%; margin-top: 200px; letter-spacing: normal; transform: scale(0.8);}
  #slide0 .slideWord {margin-top: 0; transform: scale(0.6);}
  #slide2 .slideWord {transform: scale(0.5); margin: -20% 0 0 0; padding-right: 200px;}
  .unslider a.unslider-arrow {top:35%;}
}
